%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h1 Il nostro matrimonio
        %p In questo sito troverai tutte le informazioni riguardanti il nostro matrimonio che si terrà l'1 Ottobre 2016.
        %hr.colored
    .row.text-center
      .col-md-3.col-sm-6.wow.fadeIn{ "data-wow-delay" => ".2s" }
        .about-content
          %i.fa.fa-edit.fa-4x
          %h3 Presenza
          %p Conferma la presenza tua e dei tuoi ospiti alla cerimonia e ai festeggiamenti. E se hai voglia di aiutare i nostri amici arrivati da lontano, offri qualche posto in auto per gli spostamenti!
      .col-md-3.col-sm-6.wow.fadeIn{ "data-wow-delay" => ".4s" }
        .about-content
          %i.fa.fa-map.fa-4x
          %h3 Locations
          %p Indicazioni su come raggiungere la cattedrale e il luogo del ricevimento.
      .col-md-3.col-sm-6.wow.fadeIn{ "data-wow-delay" => ".6s" }
        .about-content
          %i.fa.fa-heart.fa-4x
          %h3 BlaBlaBla
          %p When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!
      .col-md-3.col-sm-6.wow.fadeIn{ "data-wow-delay" => ".s" }
        .about-content
          %i.fa.fa-gift.fa-4x
          %h3 Lista Nozze
          %p All of our themes are crafted with care, and we strive to make your experience as one of our customers the best as possible.