%section.bg-gray#gift
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        %h2 Lista nozze
        %hr.colored
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
    .row
      .col-lg-12
        %h4 IBAN
        %h4 12345678910
        %hr.colored
        
    %section.services#iban
      .container
        .row.content-row
          .col-md-4.wow.fadeIn{ "data-wow-delay" => ".2s" }
            .media
              .pull-left
                %i.fa.fa-map-o
              .media-body
                %h3.media-heading Viaggio di Nozze
                %ul
                  %li
                    %em Città d'arte italiane
                  %li
                    %em Costiera Amalfitana
                  %li
                    %em blabla
          .col-md-4.wow.fadeIn{ "data-wow-delay" => ".4s" }
            .media
              .pull-left
                %i.fa.fa-home
              .media-body
                %h3.media-heading Casa e Famiglia
                %ul
                  %li
                    %em blabla
                  %li
                    %em blabla 
                  %li
                    %em blabla
          .col-md-4.wow.fadeIn{ "data-wow-delay" => ".6s" }
            .media
              .pull-left
                %i.fa.fa-magic
              .media-body
                %h3.media-heading Blabla
                %ul
                  %li
                    %em blabla
                  %li
                    %em blabla
                  %li
                    %em blabla
    
    .row.content-row
      .col-lg-12
        .about-carousel
          .item
            %img.img-responsive{ alt: "", src: "#{asset_path('img/fashion/occhiali.jpg')}" }
            .caption
              %h3{style:"color:blue;"}
              / %hr.colored
              %p
          .item
            %img.img-responsive{ alt: "", src: "#{asset_path('img/fashion/traghetto.jpg')}" }
            .caption
              %h3{style:"color:grey;"}
              / %hr.colored
              %p
          .item
            %img.img-responsive{ alt: "", src: "#{asset_path('img/fashion/traghetto-2.jpg')}" }
            .caption
              %h3{style:"color:blue;"}
              / %hr.colored
              %p
          .item
            %img.img-responsive{ alt: "", src: "#{asset_path('img/fashion/menu.jpg')}" }
            .caption
              %h3{style:"color:blue;"}
              / %hr.colored
              %p