%section.bg-gray#gift
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        %h2 Lista nozze
        %hr.colored
        %p Aiutateci a sostenere questa festa, il nostro viaggio di nozze ed i nostri progetti futuri. Potrai farlo con una busta, un bonifico o una donazione Paypal.
    .row
      .col-lg-12
        %h4 IBAN
        %h4 12345678910
        %hr.colored
    .row
      = render partial:"donate_button"