%section.bg-gray#gift
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        %h2 Lista nozze
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
        %hr.colored
    .row.content-row
      .col-lg-12
        .about-carousel
          .item
            %img.img-responsive{ alt: "", src: "#{asset_path('img/fashion/occhiali.jpg')}" }
            .caption
              %h3{style:"color:blue;"}
              / %hr.colored
              %p
          .item
            %img.img-responsive{ alt: "", src: "#{asset_path('img/fashion/traghetto.jpg')}" }
            .caption
              %h3{style:"color:grey;"}
              / %hr.colored
              %p
          .item
            %img.img-responsive{ alt: "", src: "#{asset_path('img/fashion/traghetto-2.jpg')}" }
            .caption
              %h3{style:"color:blue;"}
              / %hr.colored
              %p
          .item
            %img.img-responsive{ alt: "", src: "#{asset_path('img/fashion/menu.jpg')}" }
            .caption
              %h3{style:"color:blue;"}
              / %hr.colored
              %p