%section.bg-gray#gift
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        %h2 Lista nozze
        %hr.colored
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
    .row
      .col-lg-12
        %h4 IBAN
        %h4 12345678910
        %hr.colored
    .row
      = render partial:"donate_button"