:css
  aside.header-quote {
    color: white;
    background-color: #222222;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    text-align: center;
  }
  aside.header-quote span.quote {
    display: block;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    text-shadow: 2px 2px 4px black;
  }
  @media (min-width: 768px) {
    aside.header-quote {
      background-attachment: scroll;
      padding: 150px 0;
    }
    aside.header-quote span.quote {
      font-size: 36px;
      line-height: 38px;
    }
  }
  @media (min-width: 992px) {
    aside.header-quote {
      padding: 300px 0;
    }
    aside.header-quote span.quote {
      font-size: 40px;
      line-height: 42px;
    }
  }
  @media (min-width: 1025px) {
    aside.header-quote {
      background-attachment: fixed;
    }
  }

%header{ style: "background-image: url(#{asset_path('img/castle.jpg')})" }

  %aside.header-quote
    .container.wow.fadeIn
      .row
        .col-md-10.col-md-offset-1
          / %span.quote= t('header.date')
          %span.quote
            %span.text-primary Mauro e Beatrice
          %hr.colored
          %span.quote Con grande gioia annunciamo il nostro matrimonio che si terrà a Bergamo l'1 Ottobre 2016
          %br
          %br
          %a.btn.btn-outline-light.page-scroll{ href: "#about" }= t('header.button')

  .scroll-down
    %a.btn.page-scroll{ href: "#about" }
      %i.fa.fa-angle-down.fa-fw