%header{ style: "background-image: url(#{asset_path('img/castle.jpg')})" }

  %aside.header-quote
    .container.wow.fadeIn
      .row
        .col-md-10.col-md-offset-1
          %span.quote
            %span.text-primary= t('header.text-primary')
          %hr.colored
          %span.quote= t('header.quote')
          %br
          %br
          %a.btn.btn-outline-light.page-scroll{ href: "#about" }= t('header.buttons.more')

  .scroll-down
    %a.btn.page-scroll{ href: "#about" }
      %i.fa.fa-angle-down.fa-fw