%section.pricing#locations{ style: "background-image: url(#{asset_path('img/fashion/locations/chiesa.jpg')})" }
  .container.wow.fadeIn
    .row.text-center
      .col-lg-12
        %h2 Locations
        %hr.colored
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
    .row.content-row
      .col-md-6
        .pricing-item
          %h3 Cerimonia
          %hr.colored
          %ul.list-group
            %li.list-group-item
              %em Dove:
              %br
              Basilica di Sant'Alessando in Colonna
            %li.list-group-item
              %em Orario:
              %br
              16.00 - 17.30
            %li.list-group-item
              %em Address:
              %br
              8372 Greenway Ct.
              %br
              Beaumont, CA 49204
      .col-md-6  
        .pricing-item
          %h3 Ricevimento
          %hr.colored
          %ul.list-group
            %li.list-group-item
              %em Dove:
              %br
              Tenuta Serradesca di Maria Acquaroli
            %li.list-group-item
              %em Orario:
              %br
              18.30 - 02.30
            %li.list-group-item
              %em Address:
              %br
              324 Kingston Dr.
              %br
              Santa Monica, CA 49204