%section#participations.bg-gray
  .container.wow.fadeIn
    .row
      .col-lg-12.text-center
        %h2 Conferma Partecipazione
        %hr.colored/
        %p Conferma di seguito la tua partecipazione e quella dei tuoi ospiti.
    .row.content-row
      .col-lg-8.col-lg-offset-2
        %form.form-horizontal
          .form-group.col-xs-12.floating-label-form-group.controls
            %label.select.col-md-3.control-label{for: "guest_name"} Nome
            .col-md-12
              %input{id: :guest_name, class: "form-control", placeholder: "Nome"}
          .form-group.col-xs-12.floating-label-form-group.controls
            %label.select.col-md-3.control-label{for: "guest_surname"} Cognome
            .col-md-12
              %input{id: :guest_surname, class: "form-control", placeholder: "Cognome"}
        %br
        .form-action
          .row
            %br
            .col-md-offset-3.col-md-12
              = button_tag("Aggiungi", id: "add-guest", class: 'btn default')

        %h4.block Ospiti Aggiunti

        %table.table
          %tbody#added-guests-container

        %script#added-guests-template{type: 'text/x-jsrender'}
          %tr
            %td {{:guest_name}}
            %td {{:guest_surname}}
            %td 
              %a.btn.btn-icon-only.default{href: "javascript:removeGuest({{:#index}});"}
                %i.fa.fa-times


- provide :page_javascript do
  %script
    #{render(partial: 'static_pages/javascripts/guests.js', locals: { })}