%section#playlist.bg-gray
  .container.wow.fadeIn
    .row
      .col-lg-12.text-center
        %h2= t('playlist.header.title')
        %hr.colored/
        %p= t('playlist.header.description')
    .row.content-row
      .col-lg-12.text-center
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "380", :src => "https://embed.spotify.com/?uri=spotify%3Auser%3A21id7v7gckz7ucdb7awgxuhvy%3Aplaylist%3A1bIonqPoosQOFRnydh9QRc", :width => "380"}