%aside.cta-quote{ style: "background-image: url('assets/img/fashion/bg-aside.jpg');"}
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        %span.quote
          Fashion design is more than just making clothes. It's about <span class= "text-primary">pushing boundaries</span> and creating something unique and exciting.
        %hr.colored
        %a.btn.btn-outline-light.page-scroll{ href: "#collection" } See Our Work