%aside.cta-quote{ style: "background-image: url('#{asset_path('img/proposta.jpg')}');"}
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        %span.quote
          Festa è partecipazione! Aiutateci a rendere ancora più speciale questo giorno unico della nostra vita e a costruire il nostro futuro.
        %hr.colored
      /  %a.btn.btn-outline-light.page-scroll{ href: "#" }