%aside.cta-quote{ style: "background-image: url('#{asset_path('img/proposta.jpg')}');"}
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        %span.quote= t('quotes.schopenhauer')
        %hr.colored