%aside.cta-quote{ style: "background-image: url('#{asset_path('img/fashion/proposta.jpg')}');"}
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        %span.quote
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
        %hr.colored
      /  %a.btn.btn-outline-light.page-scroll{ href: "#" }