%section.bg-gray#team
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        %h2 Our Team
        %p We are a group of fashion experts with a passion for setting new trends.</p>
        %hr.colored
    .row.content-row
      .col-lg-12
        .about-carousel
          .item
            %img.img-responsive{ alt: "", src: "assets/img/people/1.jpg" }
            .caption
              %h3 Patricia West
              %hr.colored
              %p Owner &amp; Founder
              %ul.list-inline.social
                %li
                  %a.fa.fa-facebook.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-twitter.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-linkedin.fa-fw{ href: "#" }
          .item
            %img.img-responsive{ alt: "", src: "assets/img/people/3.jpg" }
            .caption
              %h3 Kate Williams
              %hr.colored
              %p Head Fashion Buyer
              %ul.list-inline.social
                %li
                  %a.fa.fa-facebook.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-twitter.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-linkedin.fa-fw{ href: "#" }
          .item
            %img.img-responsive{ alt: "", src: "assets/img/people/2.jpg" }
            .caption
              %h3 Howard Scott
              %hr.colored
              %p Sales Manager
              %ul.list-inline.social
                %li
                  %a.fa.fa-facebook.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-twitter.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-linkedin.fa-fw{ href: "#" }
          .item
            %img.img-responsive{ alt: "", src: "assets/img/people/4.jpg" }
            .caption
              %h3 Amy Vanderbute
              %hr.colored
              %p Marketing Coordinator
              %ul.list-inline.social
                %li
                  %a.fa.fa-facebook.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-twitter.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-linkedin.fa-fw{ href: "#" }
          .item
            %img.img-responsive{ alt: "", src: "assets/img/people/5.jpg" }
            .caption
              %h3 Jeremy Davidson
              %hr.colored
              %p Style Expert
              %ul.list-inline.social
                %li
                  %a.fa.fa-facebook.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-twitter.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-linkedin.fa-fw{ href: "#" }
                %li
                  %a.fa.fa-pinterest.fa-fw{ href: "#" }