%section#trip.testimonials
  .container.wow.fadeIn
    .row
      %h2 Viaggio di Nozze
      %hr.colored/
      %h4 Suggerisci una tappa del viaggio di nozze.
    = render partial: 'trip_suggestion'
    .row.content-row
      %p#error-suggestion.block{style:"color:red;"}
      %p#success-suggestion.block{style:"color:green;"}
    .row.content-row
      .col-lg-10.col-lg-offset-1
        .testimonials-carousel
        #suggestion-container
        
      %script#suggestion-template{type: 'text/x-jsrender'}
        .item
          .row
            .col-lg-12
              %p.lead {{:title}}
              %p.quote {{:message}}
              .testimonial-info
                .testimonial-author
                  %span.name {{:name}}
                  .stars
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star

- provide :page_javascript do
  %script
    #{render(partial: 'static_pages/javascripts/suggestions.js', locals: { })}