.bg-gray#collection
  .container.wow.fadeIn
    .row.text-center
      .col-lg-12
        %h2 Collection
        %hr.colored
        %p Here is a sample of items from our Spring 2015 collection.
    .row.text-center
      .col-lg-12
        .portfolio-gallery
          .item
            %a.gallery-link{ href: "assets/img/fashion/gallery/1.jpg", title: "Bombay Jeans"}
              %img.img-responsive.img-centered{ src: "assets/img/fashion/gallery/1.jpg", alt: "" }
          .item
            %a.gallery-link{ href: "assets/img/fashion/gallery/2.jpg", title: "Designer Purse"}
              %img.img-responsive.img-centered{ src: "assets/img/fashion/gallery/2.jpg", alt: "" }
          .item
            %a.gallery-link{ href: "assets/img/fashion/gallery/3.jpg", title: "Casual Collection"}
              %img.img-responsive.img-centered{ src: "assets/img/fashion/gallery/3.jpg", alt: "" }
          .item
            %a.gallery-link{ href: "assets/img/fashion/gallery/4.jpg", title: "Evening Bag"}
              %img.img-responsive.img-centered{ src: "assets/img/fashion/gallery/4.jpg", alt: "" }
          .item
            %a.gallery-link{ href: "assets/img/fashion/gallery/5.jpg", title: "Earthy Wrap"}
              %img.img-responsive.img-centered{ src: "assets/img/fashion/gallery/5.jpg", alt: "" }
          .item
            %a.gallery-link{ href: "assets/img/fashion/gallery/6.jpg", title: "Boots and Polka Dots"}
              %img.img-responsive.img-centered{ src: "assets/img/fashion/gallery/6.jpg", alt: "" }