/ Instructions: Set your background image using the URL below.
%header{ style: "background-image: url(#{asset_path('/img/fashion/stockholm.jpg')})" } }
  .intro-content
    %img.img-responsive.img-centered{ alt: "", src: "assets/img/fashion/profile.png" }
  .scroll-down
    %a.btn.page-scroll{ href: "#about" }
      %i.fa.fa-angle-down.fa-fw