%section.pricing#locations{ style: "background-image: url('assets/img/fashion/bg-locations.jpg')" }
  .container.wow.fadeIn
    .row.text-center
      .col-lg-12
        %h2 Locations
        %hr.colored
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
    .row.content-row
      .col-md-4
        .pricing-item
          %h3 Beaumont
          %hr.colored
          %ul.list-group
            %li.list-group-item
              %em Hours:
              %br
              Mon - Fri: 9:00am to 7:00pm
              %br
              Sat - Sun: 10:00am to 8:00pm
            %li.list-group-item
              %em Phone:
              %br
              394-555-5555
            %li.list-group-item
              %em Address:
              %br
              8372 Greenway Ct.
              %br
              Beaumont, CA 49204
      .col-md-4  
        .pricing-item
          %h3 Bakersville
          %hr.colored
          %ul.list-group
            %li.list-group-item
              %em Hours:
              %br
              Mon - Fri: 9:00am to 7:00pm
              %br
              Sat - Sun: 10:00am to 8:00pm
            %li.list-group-item
              %em Phone:
              %br
              526-555-5555
            %li.list-group-item
              %em Address:
              %br
              324 Kingston Dr.
              %br
              Santa Monica, CA 49204
      .col-md-4  
        .pricing-item
          %h3 Downtown
          %hr.colored
          %ul.list-group
            %li.list-group-item
              %em Hours:
              %br
              Mon - Fri: 9:00am to 7:00pm
              %br
              Sat - Sun: 11:00am to 11:00pm
            %li.list-group-item
              %em Phone:
              %br
              474-555-5555
            %li.list-group-item
              %em Address:
              %br
              74 Main St. Suite #2
              %br
              Los Angeles, CA 49204