%section.cta-form.bg-dark
  .container.text-center
    %h3 Subscribe to our newsletter!
    %hr.colored/
    .row
      .col-lg-8.col-lg-offset-2
        / MailChimp Signup Form
        #mc_embed_signup
          / Replace the form action in the line below with your MailChimp embed action! For more informatin on how to do this please visit the Docs!
          %form#mc-embedded-subscribe-form{:action => "//startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&id=afb284632f", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :role => "form", :target => "_blank"}
            .input-group.input-group-lg
              %input#mce-EMAIL.form-control{:name => "EMAIL", :placeholder => "Email address...", :type => "email"}/
              %span.input-group-btn
                %button#mc-embedded-subscribe.btn.btn-primary{:name => "subscribe", :type => "submit"} Subscribe!
            #mce-responses
              #mce-error-response.response{:style => "display:none"}
              #mce-success-response.response{:style => "display:none"}
        / End MailChimp Signup Form