%section#testimonials.testimonials
  .container.wow.fadeIn
    .row
      %h2 Testimonials
      %hr.colored/
      %p Kind words from some of our past clients.
    .row.content-row
      .col-lg-10.col-lg-offset-1
        .testimonials-carousel
          .item
            .row
              .col-lg-12
                %p.lead "Truly one of a kind."
                %p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?
                .testimonial-info
                  .testimonial-img
                    %img.img-circle.img-responsive{:alt => "", :src => "assets/img/testimonials/1.jpg"}/
                  .testimonial-author
                    %span.name Jim Walker
                    %p.small CEO of GeneriCorp
                    .stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
          .item
            .row
              .col-lg-12
                %p.lead "I haven't found better."
                %p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?
                .testimonial-info
                  .testimonial-img
                    %img.img-circle.img-responsive{:alt => "", :src => "assets/img/testimonials/1.jpg"}/
                  .testimonial-author
                    %span.name Jim Walker
                    %p.small CEO of GeneriCorp
                    .stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star