/ Instructions: Set your background image using the URL below.
%header{ style: "background-image: url(#{asset_path('img/fashion/traghetto.jpg')})" }
  %aside.cta-quote
    .container.wow.fadeIn
      .row
        .col-md-10.col-md-offset-1
          %span.quote
            1 Ottobre 2016
          %span.quote
            Matrimonio <span class= "text-primary">Mauro</span> e <span class= "text-primary">Beatrice</span>.
          %hr.colored
          .col-md-12
            %br/
            %a.btn.btn-outline-light.page-scroll{ href: "#login" } Entra

  .scroll-down
    %a.btn.page-scroll{ href: "#login" }
      %i.fa.fa-angle-down.fa-fw