.embed-container
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyBx_mpSYyZj11GtiHeMw_a5k8e6O-lJSaY&q=Tenuta+Serradesca&zoom=15", :style => "border:0", :width => "600"}