/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*/

  aside.header-quote {
    color: white;
    background-color: #222222;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    text-align: center;
  }
  aside.header-quote span.quote {
    display: block;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    text-shadow: 2px 2px 4px black;
  }
  @media (min-width: 768px) {
    aside.header-quote {
      background-attachment: scroll;
      padding: 150px 0;
    }
    aside.header-quote span.quote {
      font-size: 36px;
      line-height: 38px;
    }
  }
  @media (min-width: 992px) {
    aside.header-quote {
      padding: 300px 0;
    }
    aside.header-quote span.quote {
      font-size: 40px;
      line-height: 42px;
    }
  }
  @media (min-width: 1025px) {
    aside.header-quote {
      background-attachment: fixed;
    }
  }

  .portfolio-modal .custom-modal-content {
  color: #222222;
  background: transparent;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .custom-modal-content h2 {
  margin: 0;
  font-size: 46px;
}
.portfolio-modal .custom-modal-content img {
  margin: 30px auto;
}
.portfolio-modal .custom-modal-content .item-details {
  margin: 30px 0;
}