= render partial: 'header'
= render partial: 'places_table'
.form-container
= react_component('ValidationFormInput', {}, {class: "form-container"})

- provide :page_title do
  %title Mauro e Beatrice | Suggested Place List